<a href="https://colab.research.google.com/github/garcia-christian/DataAna_Activities/blob/main/Data_Preprocessing_Part_1_Garcia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In your notebook, import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

 Create a DataFrame object named df_data.
Load the Time Series Dataset 2.xlsx into your DataFrame object

In [ ]:
df_data = pd.read_excel('Time Series Dataset 2.xlsx')

Look for missing values in the store_type column and replace it with "none"

In [ ]:
store_type = df_data['store_type']

In [ ]:
print(store_type.head(50))

In [ ]:
store_type.fillna("none",inplace=True)

In [ ]:
print(store_type.head(50))

Create a dictionary to contain all the possible values for the store_type without the underscores

In [ ]:
data = {'store_type': {'small_medium_shop': 'small medium shop',
           'specialized_shop': 'specialized shop',
           'private_service_provider': 'pivate service provider',
           'public_semi_public_service': 'publi semi public service',
           'bulk_discount_shop': 'bulk discount shop',
           'street_outlet': 'street outlet'}}

In [ ]:
df_data = df_data.replace(data)

In [ ]:
print(df_data['store_type'].head(50))

0                       other
1           small medium shop
2            specialized shop
3            specialized shop
4                        none
5                        none
6           small medium shop
7           small medium shop
8     pivate service provider
9            specialized shop
10          small medium shop
11           specialized shop
12          small medium shop
13          small medium shop
14                       none
15          small medium shop
16           specialized shop
17          small medium shop
18           specialized shop
19    pivate service provider
20                       none
21                     market
22           specialized shop
23          small medium shop
24                       none
25                       none
26    pivate service provider
27          small medium shop
28                       none
29                       none
30                       none
31          small medium shop
32    pivate service provider
33    pivate service provider
34          small medium shop
35                       none
36          small medium shop
37          small medium shop
38                       none
39           specialized shop
40           specialized shop
41                       none
42                       none
43                       none
44          small medium shop
45          small medium shop
46          small medium shop
47          small medium shop
48           specialized shop
49          small medium shop
Name: store_type, dtype: object

Print the total number of records

In [ ]:
print("Total Number of Records:\n",df_data.count())

Total Number of Records:
 item_name     6000
item_code     6000
created_at    6000
size          6000
quantity      6000
price         6000
store_type    6000
dtype: int64

 Print the number of records which doesn't belong into any of the store types.

In [ ]:
storecn = df_data.loc[(df_data['store_type']=='none') | (df_data['store_type']=='None')].count()
print("number of records which doesn't belong into any of the store types:\n",storecn)

number of records which doesn't belong into any of the store types:
 item_name     1769
item_code     1769
created_at    1769
size          1769
quantity      1769
price         1769
store_type    1769
dtype: int64

Print the records which doesn't belong into any of the store types

In [ ]:
store = df_data.loc[(df_data['store_type']=='none') | (df_data['store_type']=='None')]
print(store.head(50))

                                      item_name  item_code  ...    price  store_type
4               Jam, strawberry or apricot, WKB  110118201  ...    42.90        none
5          Dinner plate, flat, porcelain, WKB-L  110541104  ...   145.00        none
14              Water, still, large bottle, WKB  110122101  ...     9.59        none
20                  Milk, fresh, unskimmed, WKB  110114101  ...    15.12        none
24                                 Fresh onions  110117104  ...    26.59        none
25                      Fresh bananas, standard  110116102  ...    21.90        none
28                   Foam mattress, double, WKB  110511108  ...  4090.00        none
29                   Potato chips (crisps), WKB  110117304  ...    29.10        none
30              Cornflakes, excluding KELLOGG'S  110111250  ...    29.69        none
35                            Cooking salt, WKB  110119102  ...    12.50        none
38                               Fresh cucumber  110117101  ...    39.99        none
41            Plaster strips, plastic foil, WKB  110612105  ...    34.20        none
42             Instant coffee, NESCAFE Classic   110121102  ...   109.99        none
43                 Toilet paper, multipack, WKB  111212111  ...    63.99        none
52                      Milk chocolate bar, WKB  110118301  ...    34.00        none
60            Plaster strips, plastic foil, WKB  110612105  ...    37.00        none
62            Plaster strips, plastic foil, WKB  110612105  ...    36.00        none
69                                Fresh oranges  110116105  ...    39.90        none
79                      Fresh bananas, standard  110116102  ...    24.99        none
81                   Dishwashing detergent, WKB  110561108  ...    30.99        none
82   Interurban transport, single ticket, 50 km  110731101  ...     5.00        None
91                           Cat food, tin, WKB  110933103  ...    37.19        none
92                      Men's blue jeans, WKB-L  110312107  ...   790.00        none
95          Long-grain rice, not parboiled, WKB  110111102  ...    10.50        none
96                   Men's lace-up shoes, WKB-L  110321101  ...  1000.00        none
98                          Tomato ketchup, WKB  110119103  ...    43.00        none
99                      Men's blue jeans, WKB-L  110312107  ...   649.00        none
102                            White sugar, WKB  110118101  ...    14.53        none
103          Energy saving light bulb, 15W, WKB  110552103  ...    94.90        none
110                      Trolley, soft case, BL  111232104  ...   999.00        none
114                          Men's shirt, WKB-M  110312103  ...   549.00        none
115                           Sunflower oil, BL  110115301  ...    34.12        none
125  Interurban transport, single ticket, 50 km  110731101  ...   300.00        None
127         Long-grain rice, not parboiled, WKB  110111102  ...    15.69        none
128              Microwave oven, 16-22 l, WKB-L  110531103  ...  3061.00        none
129                    Red wine, table wine, BL  110212101  ...    37.45        none
133                   Bread, white, sliced, WKB  110111305  ...    44.49        none
134                           Cooking salt, WKB  110119102  ...    10.35        none
138             Water, still, large bottle, WKB  110122101  ...    10.20        none
145                Olive oil, extra virgin, WKB  110115302  ...    85.25        none
146                  Men's lace-up shoes, WKB-L  110321101  ...   950.00        none
147           Plaster strips, plastic foil, WKB  110612105  ...    41.00        none
152                               Fresh carrots  110117103  ...    34.90        none
160      Men's sport shoes, ADIDAS, ASICS, NIKE  110321103  ...  1390.00        none
162    Urban tram (rail) or tube, single ticket  110731104  ...     3.00        None
170                      Bath towel, large, WKB  110521103  ...   259.00        none
171            Wheat flour, not self-rising, BL  110111202  ...     6.62        none
173  Interurban transport, single ticket, 50 km  110731101  ...   270.00        None
175                     Bread, whole wheat, WKB  110111303  ...    50.50        none
176                  Men's lace-up shoes, WKB-L  110321101  ...  2150.00        none

[50 rows x 7 columns]