<a href="https://colab.research.google.com/github/garcia-christian/DataAna_Activities/blob/main/Sample_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TLA #9 - Data Cleaning using Python

 import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

DataFrame object named df_data
Load the Housing.xlsx into your DataFrame

In [ ]:
df_data = pd.read_excel('Housing.xlsx')

In [ ]:
print(df_data)

      id     price  bedrooms  ...     long  sqft_living15  sqft_lot15
0    111  221900.0         3  ... -122.257           1340        5650
1    112  538000.0         3  ... -122.319           1690        7639
2    113  180000.0         2  ... -122.233           2720        8062
3    114  604000.0         4  ... -122.393           1360        5000
4    115  510000.0         3  ... -122.045           1800        7503
..   ...       ...       ...  ...      ...            ...         ...
494  605  397500.0         3  ... -122.216           1660        6600
495  606  490000.0         2  ... -122.301           1240        1350
496  607  725000.0         4  ... -122.387           1440        4420
497  608  299000.0         3  ... -122.284           2424       12410
498  609  625000.0         2  ... -122.390           1590        4025

[499 rows x 18 columns]

check the condition column for trailing spaces

In [ ]:
condition = df_data['condition']
print(condition.head(50))

0        average
1        average
2        average
3     devastated
4        average
5        average
6        average
7        average
8        average
9        average
10       average
11           bad
12           bad
13        bad
14       average
15       average
16       average
17           bad
18           bad
19        bad
20           bad
21       average
22       average
23       average
24           bad
25    devastated
26       average
27    devastated
28       average
29       average
30       average
31       average
32           bad
33           bad
34       average
35       average
36     excellent
37           bad
38          good
39       average
40       average
41       average
42       average
43       average
44           bad
45       average
46       average
47           bad
48        bad
49    devastated
Name: condition, dtype: object

have it removed using the strip() function

In [ ]:
df_data['condition'] = condition.str.strip()

In [ ]:
print(df_data['condition'].head(50))

0        average
1        average
2        average
3     devastated
4        average
5        average
6        average
7        average
8        average
9        average
10       average
11           bad
12           bad
13           bad
14       average
15       average
16       average
17           bad
18           bad
19           bad
20           bad
21       average
22       average
23       average
24           bad
25    devastated
26       average
27    devastated
28       average
29       average
30       average
31       average
32           bad
33           bad
34       average
35       average
36     excellent
37           bad
38          good
39       average
40       average
41       average
42       average
43       average
44           bad
45       average
46       average
47           bad
48           bad
49    devastated
Name: condition, dtype: object

check the yr_renovated, look for missing values

In [ ]:
yr_renovated = df_data['yr_renovated']

In [ ]:
print("Number of missing values:",df_data['yr_renovated'].isnull().sum())
print(yr_renovated.head(50))

Number of missing values: 473
0        NaN
1     1991.0
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
30       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35    2002.0
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
46       NaN
47       NaN
48       NaN
49       NaN
Name: yr_renovated, dtype: float64

replace it with 0 using the fillna() function

In [ ]:
yr_renovated.fillna(0,inplace=True)

In [ ]:
print(yr_renovated.head(50))

0        0.0
1     1991.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
30       0.0
31       0.0
32       0.0
33       0.0
34       0.0
35    2002.0
36       0.0
37       0.0
38       0.0
39       0.0
40       0.0
41       0.0
42       0.0
43       0.0
44       0.0
45       0.0
46       0.0
47       0.0
48       0.0
49       0.0
Name: yr_renovated, dtype: float64

In [ ]:
df_data['yr_renovated'] = yr_renovated

In [ ]:
print(df_data['yr_renovated'])

0         0.0
1      1991.0
2         0.0
3         0.0
4         0.0
        ...
494       0.0
495       0.0
496    2003.0
497       0.0
498       0.0
Name: yr_renovated, Length: 499, dtype: float64

check the price column, look for missing values

In [ ]:
price = df_data['price']

In [ ]:
print("Number of missing values:",df_data['price'].isnull().sum())
print( df_data['price'].head(50))

Number of missing values: 41
0     221900.0
1     538000.0
2     180000.0
3     604000.0
4     510000.0
5          NaN
6     257500.0
7     291850.0
8     229500.0
9     323000.0
10    662500.0
11    468000.0
12    310000.0
13    400000.0
14    530000.0
15    650000.0
16    395000.0
17    485000.0
18    189000.0
19    230000.0
20    385000.0
21         NaN
22    285000.0
23    252700.0
24    329000.0
25    233000.0
26    937000.0
27    667000.0
28    438000.0
29    719000.0
30    580500.0
31    280000.0
32    687500.0
33    535000.0
34    322500.0
35    696000.0
36    550000.0
37    640000.0
38    240000.0
39    605000.0
40    625000.0
41         NaN
42    861990.0
43    685000.0
44         NaN
45    488000.0
46    210490.0
47    785000.0
48    450000.0
49         NaN
Name: price, dtype: float64

replace it with the average price using the mean() function

In [ ]:
price.fillna(price.mean(),inplace=True)

In [ ]:
print(price.mean())

456766.2751091704

In [ ]:
df_data['price'] = price.round(2)

In [ ]:
print(df_data['price'].head(50))

0     221900.00
1     538000.00
2     180000.00
3     604000.00
4     510000.00
5     456766.28
6     257500.00
7     291850.00
8     229500.00
9     323000.00
10    662500.00
11    468000.00
12    310000.00
13    400000.00
14    530000.00
15    650000.00
16    395000.00
17    485000.00
18    189000.00
19    230000.00
20    385000.00
21    456766.28
22    285000.00
23    252700.00
24    329000.00
25    233000.00
26    937000.00
27    667000.00
28    438000.00
29    719000.00
30    580500.00
31    280000.00
32    687500.00
33    535000.00
34    322500.00
35    696000.00
36    550000.00
37    640000.00
38    240000.00
39    605000.00
40    625000.00
41    456766.28
42    861990.00
43    685000.00
44    456766.28
45    488000.00
46    210490.00
47    785000.00
48    450000.00
49    456766.28
Name: price, dtype: float64