<a href="https://colab.research.google.com/github/garcia-christian/DataAna_Activities/blob/main/Tla10_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [12]:
data_f = pd.read_excel('datasetsample.xlsx')

In [60]:
print(data_f.shape)

(700, 16)

**TLA #10 - Aggregating Data**

resample(), Grouper(), and groupby()

**resample()**

In this example we used the resample() function to determine the profit by month. To do that we called the resample() function on our dataframe and used 'M' for month as the frequency attribute then we chose the column that contains dates by assigning the 'Date' column on the "on" attribute.

In [17]:

print(data_f.resample('M',on='Date').Profit.sum())

Date
2013-09-30     763603.03
2013-10-31    1657795.10
2013-11-30     765502.30
2013-12-31     691564.08
2014-01-31     814028.68
2014-02-28    1148547.39
2014-03-31     669866.87
2014-04-30     929984.57
2014-05-31     828640.06
2014-06-30    1473753.82
2014-07-31     923865.68
2014-08-31     791066.42
2014-09-30    1023132.24
2014-10-31    1781985.92
2014-11-30     604600.20
2014-12-31    2025765.90
Freq: M, Name: Profit, dtype: float64

**groupby()**

grouby() is a function that groups the data into categories and allowing us to see the dataset in summarized form. In the example we grouped the dataset according to country using groupby('country') then we specified what data to be displayed in this example, we displayed the average profit per country by putting .Profit.mean() after we called the groupby function.

In [20]:
print(data_f.groupby('Country').Profit.mean())

Country
Canada                      25208.777750
France                      27007.291286
Germany                     26288.491571
Mexico                      20768.022214
United States of America    21396.719036
Name: Profit, dtype: float64

**grouper()**

the grouper() function is used to specify a groupby instruction of an object, we can use the grouper() as an parameter in the groupby function. In the example below, we used the Grouper() function inside a groupby() function, then we specified that the Grouper's key is the date column and selected month as our frequency (pd.Grouper(key='Date', freq = 'M')) after we called the grouper() we also specified that we are also grouping by product so we put the product column as the second parameter in the groupby function, finally we specified what data to be shown by putting .Profit.sum() after the groupby function. The result, we presented the total profit of each products per month.

In [27]:
print(data_f.groupby([pd.Grouper(key='Date', freq = 'M'),'Product']).Profit.sum().head(30))

Date        Product
2013-09-30  Amarilla      26521.730
            Carretera    -16666.800
            Montana      353231.500
            Paseo        105971.870
            VTT          237344.080
            Velo          57200.650
2013-10-31  Amarilla     560228.730
            Carretera     81549.520
            Montana       69894.720
            Paseo        283960.030
            VTT          157203.850
            Velo         504958.250
2013-11-30  Amarilla      18673.950
            Carretera     14636.020
            Montana      -30361.250
            Paseo        640458.720
            VTT           46208.300
            Velo          75886.560
2013-12-31  Amarilla     176525.120
            Carretera    -40749.880
            Montana       64993.070
            Paseo         69462.470
            VTT          437429.000
            Velo         -16095.700
2014-01-31  Amarilla     -35162.550
            Carretera     58392.400
            Montana      293968.400
            Paseo        391609.335
            VTT           71854.820
            Velo          33366.275
Name: Profit, dtype: float64

**TLA #11 - Discretization and Binning**

cut(), and qcut()

**cut()**

cut() is a pandas function and is used to segregate the values of an array into different bins. In the example below we used the profit from our dataframe and put it into the data object (data = [data_f['Profit']]), then we reshaped the object into a flat array (data = np.reshape(data,(700))). We then created a new object called cat, and we assigned a value from the cut function that has data and 5 as the number of bins we want to create as its arguments. When we print the value counts of cat (print(pd.value_counts(cat), '\n')) the function automatically created 5 bins and the numner of values inside its range. We also printed the cat.codes to show what bin the value of the array assigned to. The cat.categories is used to show the inteveal index.

In [51]:
data = [data_f['Profit']]
data = np.reshape(data,(700))
cat = pd.cut(data,5)
print(pd.value_counts(cat), '\n')
print(cat.codes)
print(cat.categories)

(-40920.318, 19946.0]    502
(19946.0, 80509.5]       130
(80509.5, 141073.0]       46
(141073.0, 201636.5]      14
(201636.5, 262200.0]       8
dtype: int64

[0 0 0 0 0 2 0 1 0 0 0 0 1 0 0 0 0 0 1 2 0 0 0 1 0 0 3 0 0 0 2 0 0 0 2 0 0
 0 2 1 0 0 2 2 0 4 0 1 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 1 0 1 2 3 0 2 0 0 2 0
 0 0 0 0 0 0 0 2 3 1 0 0 0 0 0 2 0 0 1 1 2 0 0 0 0 0 0 0 4 0 0 0 0 0 1 1 0
 0 0 0 0 0 2 4 0 0 0 0 0 0 4 4 0 0 0 0 0 0 0 4 0 1 3 0 1 0 4 0 0 2 0 1 1 0
 0 0 0 0 3 0 0 2 0 0 1 0 0 0 0 0 0 0 2 0 0 1 2 0 0 0 1 1 0 0 0 0 0 1 1 0 1
 0 1 0 0 0 1 2 4 0 0 0 0 0 0 1 0 0 1 3 0 1 3 0 3 0 3 0 2 0 0 0 0 1 1 0 0 0
 0 0 0 0 1 0 0 0 0 2 0 1 0 1 0 0 0 1 0 1 1 0 2 0 0 0 0 1 0 0 0 0 0 1 1 0 0
 0 0 1 0 0 1 1 0 0 2 1 2 1 0 0 0 0 0 0 0 0 1 2 0 1 2 0 1 0 0 0 2 0 1 3 0 0
 1 0 1 0 2 1 0 3 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 1 0 1 0 1
 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 1 1 1 0 3 0 0 1 0 0 0 0 0 0 2 0 0 0 1 1 0
 0 0 0 0 1 0 0 0 0 1 2 0 2 0 0 0 0 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 0 2 2
 0 0 0 0 0 0 1 3 0 1 0 0 1 0 0 0 2 1 0 0 1 0 1 1 0 1 0 0 0 2 1 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 3 0
 1 0 0 2 0 2 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 2 1 0 0
 0 0 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 1
 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 2 0
 0 0 0 0 0 0 0 2 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 2 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 2 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
IntervalIndex([(-40920.318, 19946.0], (19946.0, 80509.5], (80509.5, 141073.0], (141073.0, 201636.5], (201636.5, 262200.0]],
              closed='right',
              dtype='interval[float64]')

**qcut()**

The qcut function is just similar to cut but it make sure that the bins it generates each has equal or close to equal values

In [52]:
qcat = pd.qcut(data,q=5)
print(pd.value_counts(qcat), '\n')

(2163.52, 6580.8]        141
(12992.0, 34685.0]       140
(6580.8, 12992.0]        140
(-40617.501, 2163.52]    140
(34685.0, 262200.0]      139
dtype: int64

**`TLA #12 - Data Sampling`**

take() and sample()

**take()**

The take() function lets us take rows from a dataframe provided that we specify the index or the location of the row we want to take. In the example below we first created an object names sample_size then we gave it an array of random numbers from 0 to the length of our dataframe (data_f), but we only need 100 of those values so we specified the size to 100. Since the length of our dataframe it will only generate random numbers from 0 to 700 and we only select 100 of those random numbers, these random numbers is now the selected rows for our sample. We then created an object that would store our samples (selected_frame), so we called data_f and used the take() function and the sample_size as the arguments. when we print the selected_frame we can now see the number of rows that is randomized and the number of rows is now 100

In [58]:
sample_size = np.random.randint(0,len(data_f),size=100)

selected_frame = data_f.take(sample_size)
print(selected_frame)
print(selected_frame.count())

              Segment                   Country  ... Month Name  Year
341        Government                   Germany  ...   December  2013
83         Government                    France  ...      April  2014
351    Small Business                    Mexico  ...   February  2014
677         Midmarket                   Germany  ...    October  2014
620         Midmarket  United States of America  ...  September  2014
..                ...                       ...  ...        ...   ...
354        Enterprise                   Germany  ...  September  2013
592  Channel Partners                    Mexico  ...       July  2014
298    Small Business                    Canada  ...   December  2013
397    Small Business                    Mexico  ...       June  2014
86         Enterprise  United States of America  ...    October  2013

[100 rows x 16 columns]
Segment                100
Country                100
Product                100
Discount Band          100
Units Sold             100
Manufacturing Price    100
Sale Price             100
Gross Sales            100
Discounts              100
Sales                  100
COGS                   100
Profit                 100
Date                   100
Month Number           100
Month Name             100
Year                   100
dtype: int64

**sample()**

the sample() function is the simpler version of the take() function, in the sample() function we dont need to generate random numbers to get random rows from the dataframe, we just need to indicate what pecentage of the dataframe we want to get, in this case we put .30 or 30% as our sample size. so we get 210 rows from the original data frame and all the rows are randomly picked.

In [63]:
selected_frame2 = data_f.sample(frac = .30)
print(selected_frame2)
print(selected_frame2.count())

              Segment                   Country  ... Month Name  Year
623  Channel Partners                    France  ...    October  2014
34         Government                   Germany  ...       June  2014
322  Channel Partners                    France  ...      April  2014
244        Government                    Canada  ...    October  2013
215        Government                    Canada  ...  September  2013
..                ...                       ...  ...        ...   ...
59         Government                    Mexico  ...      March  2014
687  Channel Partners  United States of America  ...   December  2014
614        Government  United States of America  ...    October  2013
123        Government  United States of America  ...    October  2014
421        Enterprise  United States of America  ...   December  2014

[210 rows x 16 columns]
Segment                210
Country                210
Product                210
Discount Band          210
Units Sold             210
Manufacturing Price    210
Sale Price             210
Gross Sales            210
Discounts              210
Sales                  210
COGS                   210
Profit                 210
Date                   210
Month Number           210
Month Name             210
Year                   210
dtype: int64

**TLA #13 - Dimensionality Reduction**

In [136]:
DR_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
from sklearn.preprocessing import LabelEncoder
print(DR_data)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [137]:
encoder = LabelEncoder()
DR_data[5] = encoder.fit_transform(DR_data[4])
DR_data = DR_data.drop(columns=4)
print(DR_data)

       0    1    2    3  5
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]

In [142]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = DR_data.loc[:,[0,1,2,3,5]].values
x = scaler.fit_transform(x) 

x_features = ['feature'+str(i) for i in range(x.shape[1])]

normalized_df = pd.DataFrame(x,columns=x_features)

print(normalized_df)

     feature0  feature1  feature2  feature3  feature4
0   -0.900681  1.032057 -1.341272 -1.312977 -1.224745
1   -1.143017 -0.124958 -1.341272 -1.312977 -1.224745
2   -1.385353  0.337848 -1.398138 -1.312977 -1.224745
3   -1.506521  0.106445 -1.284407 -1.312977 -1.224745
4   -1.021849  1.263460 -1.341272 -1.312977 -1.224745
..        ...       ...       ...       ...       ...
145  1.038005 -0.124958  0.819624  1.447956  1.224745
146  0.553333 -1.281972  0.705893  0.922064  1.224745
147  0.795669 -0.124958  0.819624  1.053537  1.224745
148  0.432165  0.800654  0.933356  1.447956  1.224745
149  0.068662 -0.124958  0.762759  0.790591  1.224745

[150 rows x 5 columns]

In [146]:
from sklearn.decomposition import PCA
pca_data = PCA(n_components=2)
principalComponnets_data = pca_data.fit_transform(x)
pca_res = pd.DataFrame(data = principalComponnets_data, columns=['PC1','PC2'])
print(pca_res)

          PC1       PC2
0   -2.576198  0.498650
1   -2.419715 -0.660518
2   -2.662302 -0.326611
3   -2.605790 -0.582925
4   -2.683088  0.666354
..        ...       ...
145  2.232927  0.385906
146  1.962246 -0.904731
147  1.928766  0.266655
148  1.808983  1.013922
149  1.445207 -0.028112

[150 rows x 2 columns]

In [147]:
print('Explained variation per principal component: {}'.format(pca_data.explained_variance_ratio_))

Explained variation per principal component: [0.76590853 0.18427757]

**TLA #14 - Feature Encoding**

The Feature Encoding is a crucial process in data preprocessing that turns categorical data in to numerical, in this way machine learning models can interpret the data. In the example below we first imported the LabelEncoder from sklearn.preprocessing  then we copied the data frame in to a new data frame called data_copy, we created a new object called encoder that holds our LabelEncoder() function.  We called the data_copy data frame and created a new column called Disocunt_Code, then we stored the integer equivalent of Discount Band in the Discount_Code using the encoder.fit_transform and used ata_f['Discount Band'] as its argument. We printed the data_copy using group by and mean to show the equivalent code of the discount band.

In [99]:
from sklearn.preprocessing import LabelEncoder

data_copy = data_f.copy()

In [111]:
encoder = LabelEncoder()

data_copy['Discount_Code'] = encoder.fit_transform(data_f['Discount Band'])
print(data_copy.groupby('Discount Band').Discount_Code.mean().to_frame('Code'),'\n')
print(data_copy.head(30))

               Code
Discount Band
High              0
Low               1
Medium            2
None              3

             Segment                   Country  ...  Year Discount_Code
0         Government                    Canada  ...  2014             3
1         Government                   Germany  ...  2014             3
2          Midmarket                    France  ...  2014             3
3          Midmarket                   Germany  ...  2014             3
4          Midmarket                    Mexico  ...  2014             3
5         Government                   Germany  ...  2014             3
6          Midmarket                   Germany  ...  2014             3
7   Channel Partners                    Canada  ...  2014             3
8         Government                    France  ...  2014             3
9   Channel Partners                   Germany  ...  2014             3
10         Midmarket                    Mexico  ...  2014             3
11        Enterprise                    Canada  ...  2014             3
12    Small Business                    Mexico  ...  2014             3
13        Government                   Germany  ...  2014             3
14        Enterprise                    Canada  ...  2013             3
15         Midmarket  United States of America  ...  2014             3
16        Government                    Canada  ...  2014             3
17         Midmarket                    Mexico  ...  2014             3
18  Channel Partners                    Canada  ...  2014             3
19        Government                   Germany  ...  2014             3
20  Channel Partners                   Germany  ...  2014             3
21        Government                    Mexico  ...  2014             3
22         Midmarket                    France  ...  2013             3
23    Small Business                    Mexico  ...  2013             3
24         Midmarket                    Mexico  ...  2014             3
25        Government  United States of America  ...  2014             3
26        Government                    Canada  ...  2013             3
27  Channel Partners  United States of America  ...  2013             3
28         Midmarket                    Canada  ...  2013             3
29        Government                    Canada  ...  2014             3

[30 rows x 17 columns]

**repalce()**


in this implementation out data set consists of age and sex columns the goal is to convert the categorical variable sex in to a numeric one

In [153]:
datanew = {'age' : [10,11,12,13,14,15,16,17], 
           'sex' : ['male','female','female','female','female','male','male','female']}
new_df = pd.DataFrame(datanew)
print(new_df)

   age     sex
0   10    male
1   11  female
2   12  female
3   13  female
4   14  female
5   15    male
6   16    male
7   17  female

We created our dictionary first that indicates the male as 0 and female as 1,
then we used replace() function to replace the data in the sex column with the following values.

In [151]:
rep = {'sex': {'male': 0,'female': 1}}

new_df = new_df.replace(rep)


print(new_df)

   age  sex
0   10    0
1   11    1
2   12    1
3   13    1
4   14    1
5   15    0
6   16    0
7   17    1